<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app.css">
    <title>Forgot password</title>
</head>
<body class="bg-gradient-to-r from-twitterBlue to-cyan-400">
    <div class="h-screen flex">
        <div class="m-auto flex-col gap-4 w-2/5 py-20 px-50 bg-gray-100 rounded-lg shadow-md drop-shadow-md"> <!-- LEFT SIDE -->   
            <div class="m-auto pb-10 text-center">
                <h1 class="text-2xl font-bold px-4">Write your email and get a link to reset password page.</h1>
            </div>
            <div class="text-center">
            
                <form method="POST" action="/">

                    <input class="shadow p-2 m-2" name="user_email" type="text" placeholder="Email">

                <div class="flex-row">
                    <button class="bg-twitterBlue text-white mt-5 mb-2 px-10">Send link to reset password</button>
                </div>
            </form>
                
            <a class="text-twitterBlue" href="/login">Back to login</a>
            </div>
        </div>
    </div>    
</body>
</html>