<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../app.css">
    <title>Goldify user</title>
</head>
<body class="bg-gradient-to-r from-twitterBlue to-cyan-400">
    <div class="h-screen flex">
        <div class="m-auto flex-col gap-4 w-2/5 py-20 px-50 bg-gray-100 rounded-lg shadow-md drop-shadow-md"> <!-- LEFT SIDE -->   
            <div class="m-auto pb-10 text-center">
                <h1 class="text-2xl font-bold px-4">To become a <span class="text-yellow-500 font-extrabold">gold</span> user, type in your gold key from your sms</h1>
            </div>
            <div class="text-center">

                <form method="POST" action="/send-gold-key">
                    <input class="shadow p-2 m-2" name="user_phone" type="text" placeholder="Your phone number">
                    <button class="bg-twitterBlue text-white p-2">Send my gold key</button>
                </form>
            
                <div id="gold-key-container" class="hidden">
                    <p>Your gold key:</p>
                    <p id="gold-key"></p>
                </div>
                


                <form method="POST" action="/goldify-user" >
                    <!-- <input class="shadow p-2 m-2" name="user_password_reset_key" type="text" placeholder="Your reset key"> -->
                    <input class="shadow p-2 m-2" name="user_gold_key" type="text" placeholder="Your gold key">

                    <button class="bg-yellow-500 hover:bg-amber-500 focus:bg-yellow-600 font-bold text-white p-2">Goldify my user!</button>
                </form>

                
                
            <a class="text-twitterBlue" href="/">Back to myTwitter</a>
            </div>
        </div>
    </div>    
</body>
</html>