<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app.css">
  <title>{{ user["username"] }}</title>
</head>
<body class="grid grid-cols-[100fr_150fr_100fr] w-full h-full text-gray-200 text-lg bg-twitterDarkMode font-light overflow-hidden overflow-y-scroll max-w-screen-xl m-auto font-sans" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">

    <!-- left -->
    % include("twitter-left-side")
    <!-- end left -->

  <h1>
    {{ user["username"] }}
  </h1>
  <img src="/myimg/1.jpg" alt="">
  <h2>
    {{ user["total_followers"] }}
  </h2>
</body>
</html>