<!-- right -->
<div class="w-full px-8 pb-8">

    <!-- search -->
    <div class="sticky top-0 w-full py-4 bg-twitterDarkMode">
      <form class="">
        <svg width="32" height="32" viewBox="0 0 24 24" class="absolute top-6 left-2 text-gray-400">
          <path fill="currentColor"
            d="m18.9 20.3l-5.6-5.6q-.75.6-1.725.95Q10.6 16 9.5 16q-2.725 0-4.612-1.887Q3 12.225 3 9.5q0-2.725 1.888-4.613Q6.775 3 9.5 3t4.613 1.887Q16 6.775 16 9.5q0 1.1-.35 2.075q-.35.975-.95 1.725l5.625 5.625q.275.275.275.675t-.3.7q-.275.275-.7.275q-.425 0-.7-.275ZM9.5 14q1.875 0 3.188-1.312Q14 11.375 14 9.5q0-1.875-1.312-3.188Q11.375 5 9.5 5Q7.625 5 6.312 6.312Q5 7.625 5 9.5q0 1.875 1.312 3.188Q7.625 14 9.5 14Z" />
        </svg>
        <input type="text" placeholder="Search Twitter" class="w-full h-12 pl-12 bg-twitterLightDark rounded-full">
      </form>
    </div>
    <!-- end search -->

    <!-- trending -->
    <div class="flex flex-col gap-4 w-full  bg-twitterLessDark rounded-2xl  ">
      <div class="text-2xl font-bold pt-4 px-4 ">
        Trends for you
      </div>

      % for trend in trends:
        <div class="text-sm text-gray-400 hover:bg-twitterLightDark px-4">
          Trender i Danmark
          <div class="flex">
            <div class="text-white text-lg font-bold">
            {{trend["trend_title"]}}
            </div>
            <svg width="32" height="32" viewBox="0 0 24 24" class="ml-auto text-gray-500">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M6.75 12a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Z" />
            </svg>
          </div>
          <div class="text-sm text-gray-400">
            {{ trend["trend_total_tweets"] }} Tweets
          </div>
        </div>
      % end

      <a href="" class="text-twitterGreen px-4 py-2 rounded-b-2xl hover:bg-twitterLightDark">
        Show more
      </a>

    </div>
    <!-- end trending -->

    <!-- who to follow -->
    <div class="sticky top-20 flex flex-col gap-4 w-full  mt-4 bg-twitterLessDark  rounded-2xl">
      <div class="text-2xl font-bold pt-4 px-4">
        Who to follow
      </div>

      <!-- person -->
      <div class="flex items-center gap-4 px-4 py-1 hover:bg-twitterLightDark">
        <img src="thumbnails/1.jpg" class="w-12 h-12 rounded-full">
        <a href="/elonmusk">
        <div class="">
          <div class="text-gray-200 font-bold">
            Elon Musk
          </div>
          <div class="">
            @elonmusk
          </div>
        </div>
      </a>
        <button class="ml-auto px-4 py-2 text-black text-base font-medium bg-gray-200 rounded-full">
          Follow
        </button>
      </div>
      <!-- end person -->

      <!-- person -->
      <div class="flex items-center gap-4 px-4 py-1 hover:bg-twitterLightDark">
        <img src="thumbnails/2.jpg" class="w-12 h-12 rounded-full">
        <a href="/joebiden">
        <div class="">
          <div class="text-gray-200 font-bold">
            Joe Biden
          </div>
          <div class="">
            @joebiden
          </div>
        </div>
      </a>
        <button class="ml-auto px-4 py-2 text-black text-base font-medium bg-gray-200 rounded-full">
          Follow
        </button>
      </div>
      <!-- end person -->

      <!-- person -->
      <div class="flex items-center gap-4 px-4 py-1 hover:bg-twitterLightDark">
        <img src="thumbnails/3.jpg" class="w-12 h-12 rounded-full">
        <a href="/shakira">
        <div class="">
          <div class="text-gray-200 font-bold">
            Shakira
          </div>
          <div class="">
            @shakira
          </div>
        </div>
      </a>
        <button class="ml-auto px-4 py-2 text-black text-base font-medium bg-gray-200 rounded-full">
          Follow
        </button>
      </div>
      <!-- end person -->
      
        <!-- person -->
        <div class="flex items-center gap-4 px-4 py-1 hover:bg-twitterLightDark">
            <img src="thumbnails/4.png" class="w-12 h-12 rounded-full">
          <a href="/Dupreeh">
            <div class="">
              <div class="text-gray-200 font-bold">
                Peter Rasmussen
              </div>
              <div class="">
                @Dupreeh
              </div>
            </div>
          </a>
          <button class="ml-auto px-4 py-2 text-black text-base font-medium bg-gray-200 rounded-full">
            Follow
          </button>
        </div>
        <!-- end person -->

          <!-- person -->
      <div class="flex items-center gap-4 px-4 py-1 hover:bg-twitterLightDark">
        <img src="thumbnails/6.jpg" class="w-12 h-12 rounded-full">
        <a href="/rihanna">
        <div class="">
          <div class="text-gray-200 font-bold">
            Rihanna
          </div>
          <div class="">
            @rihanna
          </div>
        </div>
      </a>
        <button class="ml-auto px-4 py-2 text-black text-base font-medium bg-gray-200 rounded-full">
          Follow
        </button>
      </div>
      <!-- end person -->


      <a href="" class="text-twitterGreen px-4 py-2 rounded-b-2xl  hover:bg-twitterLightDark">
        Show more
      </a>


    </div>
    <!-- end who to follow  -->


  </div>
  <!-- end right -->